:root {
	--primary-color: #E6B400;
}

html {
	background-color: #2E3136;
	color: #eee;
}
body {
	background-color: #26282C;
}
a {
	color: var(--primary-color);
}

.box, .tabs a, .tabs li:hover {
	color: #eee;
}
a:hover {
	color: var(--primary-color);
	text-decoration: underline;
}
.tabs a {
	color: #777;
	border-bottom-color: #4E4F52;
	text-decoration: none;
	font-weight: bold;
	
	-webkit-transition : border .25s ease-out, color .25s ease-out;
	-moz-transition : border .25s ease-out, color .25s ease-out;
	-o-transition : border .25s ease-out, color .25s ease-out;
	transition : border .25s ease-out, color .25s ease-out;
}
.tabs a:hover {
	border-bottom-color: #777;
	color: #eee;
}
.tabs li.is-active a {
	color: var(--primary-color);
	border-color: var(--primary-color);
}
.box {
	background-color: #2E3136;
	margin-bottom: 1.5rem;
}
.table {
	background-color: inherit;
}
.table.is-hoverable tbody tr:not(.is-selected):hover {
	background-color: rgba(0,0,0,0.1);
}
.table, .table th, .table thead th {
	color: #eee;
	font-weight: bold;
	letter-spacing: 0px;
}
.table > tbody > tr {
	cursor: pointer;
}
table td:not([align]), table th:not([align]) {
	text-align: center;
}
.table th:not([align]) {
	font-size: 1.2rem;
	text-align: center;
}
.table > tbody > tr > th:not([align]) {
	font-size: 1rem;
}
.table td, .table th {
	padding-bottom: calc(.5em - 5px);
}
.table td, .table th, .tabs ul, .tabs a {
	border-color: #393C42;
}
.select select, .select select:hover, option {
	background-color: #393C42;
	color: #eee;
	border-color: transparent;
}
.select:not(.is-multiple):not(.is-loading)::after, .select:hover:not(.is-multiple):not(.is-loading)::after {
	border-color: var(--primary-color);
}
#table-img {
	max-width: 80%;
	max-height: 10rem;
}
.title {
	color: #eee;
	font-weight: bold;
	letter-spacing: -1px;
}

.section.is-footer {
	background-color: #2E3136;
	width: 100%;
	text-align: center;
	color: #eee;
}
.is-heart {
	color: #f14668;
}
.icons a {
	color: #fff;
	font-size: 1.5rem;
	margin-right: 0.25rem;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.icons a.end {
	margin-right: 0;
}
.icons a:hover {
	text-decoration: none;
}

/* ----------------------------------------- */


body {
	font-family: Whitney;
}


.tabs:not(:last-child) {
	margin-bottom: 0;
}
.table {
	table-layout: fixed;
}
.select, .select > select {
	margin-bottom: 1rem;
	width: 100%;
}


/* Font */
@font-face {
	font-family:Whitney;
	font-style:light;
	font-weight:300;
	src:url(https://discordapp.com/assets/6c6374bad0b0b6d204d8d6dc4a18d820.woff) format("woff");
}
@font-face {
	font-family:Whitney;
	font-style:normal;
	font-weight:500;
	src:url(https://discordapp.com/assets/e8acd7d9bf6207f99350ca9f9e23b168.woff) format("woff");
}
@font-face {
	font-family:Whitney;
	font-style:medium;
	font-weight:600;
	src:url(https://discordapp.com/assets/3bdef1251a424500c1b3a78dea9b7e57.woff) format("woff");
}
@font-face {
	font-family:WhitneyMedium;
	font-style:medium;
	font-weight:600;
	src:url(https://discordapp.com/assets/be0060dafb7a0e31d2a1ca17c0708636.woff) format("woff");
}
@font-face {
	font-family:Whitney;
	font-style:bold;
	font-weight:700;
	src:url(https://discordapp.com/assets/8e12fb4f14d9c4592eb8ec9f22337b04.woff) format("woff");
}